/* For desktop */
.food-item {
  max-width: 330px;
  margin: auto;
  border-radius: 15px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  transition: 0.3s;
  animation: fadeIn 1s;
  max-height: 700px;
  min-height: 520px;
  position: relative;
}

/* For mobile */
@media (max-width: 768px) {
  .food-item {
    max-height: none;
    min-height: auto;
  }
}

/* For mobile and desktop */
.food-item:hover {
  cursor: pointer;
  transform: scale(1.02);
}

.food-item-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px 15px 0px 0px;
  padding: 10px;
  max-height: 500px;
}

.food-item-info {
  padding: 20px;
  max-width: 330px;
}

.food-item-name-rating {
  display: flex;
  justify-content: space-between;
  align-self: center;
  margin-bottom: 10px;
  align-items: center;
}

.food-item-name-rating p {
  font-size: 20px;
  font-weight: 660;
  max-width: 500px;
}

.food-item-name-rating img {
  width: 90px;
  height: 20px;
  object-fit: contain;
}

.food-item-description {
  color: #676767;
  font-size: 14px;
  max-width: 300px;
  max-height: 3em; /* Limit to 3 lines of text */
  overflow: hidden;
  text-overflow: ellipsis;
}

.food-item-price {
  font-size: 20px;
  font-weight: 660;
  margin: 10px 0px;
  color: tomato;
}

.food-item-img-container {
  position: relative;
  width: 100%;
  height: 35vh;
  overflow: hidden;
}

.food-item-img-container .add {
  width: 35px;
  position: absolute;
  bottom: 15px;
  right: 15px;
  cursor: pointer;
  border-radius: 50%;
}

.food-item-counter {
  position: absolute;
  bottom: 15px;
  right: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 6px;
  border-radius: 50px;
  background-color: white;
}

.food-item-counter img {
  width: 30px;
}
